@import url('https://fonts.googleapis.com/css?family=Gelasio|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
footer {
    text-align: center
}

main {
    margin: 0 auto;
    padding: 85px 25px 75px;
}

* {
    box-sizing: border-box;
}

nav {
    display: block;
}

header {
    top: 0;
    background-color: beige;
    position: fixed;
    height: 70px;
    left: 0px;
    right: 0px;
    box-shadow: black 0px -2px 4px -2px;
    padding: 15px;
    overflow: auto;
}

.name {
    padding-left: 20px;
    color: grey;
    font-size: 30px;
    float: left;
    font-family: Rock Salt;
}

.links {
    float: right;
}

.links a {
    text-decoration: none;
    color: inherit;
}

.links a.active {
    border-bottom: 1px solid;
}

footer {
    box-sizing: border-box;
    position: fixed;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    box-shadow: black 0px -2px 4px -2px;
    padding: 5px;
    background-color: beige;
}